{
    "env": {
        "browser": false,
        "node": true,
        "mocha": true
    },
    globals: {
        "reload": false,
        "sinon": false,
        "clock": false,
        "expect": false,
        "buildBackground": false,
        "loadBackground": false,
        "loadBareBackground": false,
        "injectBrowser": false,
        "background": true,
        "helper": false,
        "nextTick": false,
        "preferencesTestSet": false
    }
}
