{
  "env": {
    "browser": true,
    "webextensions": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "plugin:prettier/recommended",
    "prettier/vue"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018
  }
}
