{
    "env": {
        "browser": true,
        "node": false
    },
    globals: {
        "tmp": false,
        "debug": false,
        "lib": false,
        "psl": false,
        "log": false,
        "delay": false,
        "globToRegexp": false,
        "PQueue": false,
        "versionCompare": false,
        "Container": false,
        "MultiAccountContainers": false,
        "MouseClick": false,
        "Request": false,
        "Storage": false,
        "Tabs": false,
        "Runtime": false,
        "BrowserAction": false,
        "PageAction": false,
        "ContextMenu": false,
        "Commands": false,
        "Migration": false,
        "Utils": false,
        "Cookies": false
    }
}
